---
layout: layout.liquid
title: Planetary Playing Cards
---
<main>
{% planet-cards 'star' 'Sun' 'Type G2V' %}
{% planet-cards 'planet' 'Mercury' '0.39 AU' %}
{% planet-cards 'planet' 'Venus' '0.72 AU' %}
{% planet-cards 'planet' 'Earth' '1.00 AU' %}
{% planet-cards 'planet' 'Mars' '1.52 AU' %}
{% planet-cards 'planet' 'Jupiter' '5.20 AU' %}
{% planet-cards 'planet' 'Saturn' '9.54 AU' %}
{% planet-cards 'planet' 'Uranus' '19.2 AU' %}
{% planet-cards 'planet' 'Neptune' '30.1 AU' %}
</main>