---
title: Liquid Layout
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/styles/screen.css">
</head>
<header>
  <h1>
  {{ title }}
  </h1>
</header>
<body>
 {{ content }}
</body>
<footer>
  <img src="images/rocket-ship.svg" alt="rocket ship">
</footer>
</html>